body {
    color: whitesmoke;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 4%;
    margin-left: 4%;
}
ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    padding: 16px;
}
a {
    color: whitesmoke;
    text-decoration: none;
}
header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgb(178,34,34);
    margin-left: 42.5%;
}
.center {
    text-align: center;
}
h1 {
    color:rgb(178,34,34);
}
h3{
    color: rgb(178,34,34);
}
footer img {
    width: 40px;
    height: 40px;
    justify-content: space-between;
}
footer{
    display: flex;
    justify-content: center;    
    background-color: rgb(178,34,34);
    opacity: 50%;
    width: 100%;
}
footer a {
    margin: 20px;
    text-align: center;
}
footer p {
    margin-top: 2px;
    text-align: center;
}
.container {
    padding: 0px 50px;
}
nav a:hover {
    color:rgb(178,34,34);
}
.form{
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;  
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
h2 {
    margin-bottom: 20px;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"],
input[type="email"],

textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
box-sizing: border-box;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer; 
    font-size: 16px;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
button{
    background-color: rgb(178,34,34);
    color: whitesmoke;
}